@import "tailwindcss";

@theme {
	--font-sans: 'Inter', sans-serif;
	--height-content: calc(100vh - 3rem - 5rem - 0.125rem - 0.5rem);
	--height-slideover: calc(100vh - 3rem - 0.125rem);
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	font-display: block;
	src: url(/fonts/inter-var.ttf) format('truetype');
}

button {
	cursor: pointer;
}

/* custom scrollbar */

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #9ca3af;
	border-radius: 20px;
	border: 4px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #93c5fd;
}
